:root{
    --primary:linear-gradient(to bottom right,#0a0057, #3f00ee);
    --secondary:blue;
    --text:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
 
    font-family: sans-serif;
    color: var(--text);
    display: flex;
    align-items: center;
}
.container {
    width: 100vw;

    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    
    padding: .5rem 1rem;
    text-transform: capitalize;
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }
}
.mainVideo .videoPlaylist{
    width: 100%;
    height:30rem;
}
.mainVideo .title{
    margin-top: 1rem;
}
.videoPlaylist .title{
    padding-left: 1rem;
}
.videoPlaylist > p{
padding: 1rem;
color: var(--secondary);
}
.videoPlaylist .videos{
    height: 70%;
    overflow-y: auto;
}
.videoPlaylist .videos::-webkit-scrollbar{
    width: .4rem;
    border-radius: 4rem;
    background-color: #0005;

}
.videoPlaylist .videos::-webkit-scrollbar-thumb{
    border-radius: 4rem;
    background-color: #fff;

}
.videoPlaylist .videos .video{
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;
    border-radius: .5rem;
}
.videoPlaylist .videos .video:hover{
    background-color: #0003;
}


.mainVideo video{
width:100% ;
border-radius: 0.5;

}
.video img{
position: absolute;
top: 50%;
left: 1rem;
transform: translateY(-50%);
width: 1.5rem;
height: 1.5rem;

}
.videoPlaylist .videos .video.active{
    background-color: #0003;
    color: var(--secondary);
}
.videoPlaylist .videos .video.active img{
   filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
    margin-left: 2.5rem;
}

.video h3{
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 100 1rem sans-serif;
    padding: 0 .5rem;

}
